.app{
  background-image: url("https://img.freepik.com/premium-photo/abstract-wave-background-with-blue-pink-black-lines-style-light-purple-red-uhd-image-sparse-backgrounds-smokey-background-generate-ai_572887-2249.jpg?w=740");
  background-size: cover;
  font-family: 'Lato', sans-serif;
}
